## # build_dsig is YYYYMMDDhhmmnnnn
## # branch_tag is either branch master or tag v3005
{% import "auto_setup/tag_build_dsig.jinja" as bd_cfg %}
{% set build_dsig = bd_cfg.build_dsig  %}
{% set branch_tag = bd_cfg.branch_tag  %}

## generate branch build versions
{% if branch_tag|first == 'v' %}
{% set build_branch = 'master' %}                           ## using master branch
{% set build_version = branch_tag|replace("v", "", 1) %}    ## 3005
{% set build_dest_dir = build_dsig %}
{% else %}
{% set build_version = branch_tag %}
{% set build_dest_dir = build_version ~ build_dsig %}
{% endif %}

