## # build_dsig is YYYYMMDDhhmmnnnn
## # branch_tag is either branch master or tag v3005
{% import "auto_setup/tag_build_dsig.jinja" as bd_cfg %}
{% set build_dsig = bd_cfg.build_dsig  %}
{% set branch_tag = bd_cfg.branch_tag  %}

## generate branch build versions
{% if branch_tag|first == 'v' %}
{% set build_branch = 'master' %}                           ## using master branch
{% set build_version = branch_tag|replace("v", "", 1) %}    ## 3005
{% set build_number_dotted = build_version %}               ## 3005, possibly dotted 3005.1, 30005.1rc1
{% set build_number_uscore = build_version_dotted|replace(".", "_") %} ## 3005, possibly 3005_1, 30005_1rc1
{% set build_dest_dir = build_version_dotted %}
{% else %}
{% set build_version = branch_tag %}
{% set build_nb_number = '2999' %}                          ## default to 2999, won't interfere with Neon+
{% set build_number_dotted = build_nb_number ~ '.0.0' %}    ## set _version to aaaa.b.c
{% set build_number_uscore = build_number_dotted|replace(".", "_") %} ## 3005, possibly 3005_1, 30005_1rc1
{% set build_dest_dir = build_number_dotted ~ build_dsig %}
{% endif %}

