# build_dsig (designation) is typically nbYYYYMMDDhhmmnnnn
# unless overridden by a specific name version, e.g. rc1
# branch_tag is either branch 2017.7 or tag v2017.7.1
# defaults
{% set build_dsig = 'nb197001010001' %}
{% set branch_tag = 'develop' %}

