{% set branch_tag = '2018.3' %}
{% set build_dsig = 'nb201804132009176926973' %}
{% set build_local_minion = 'm7m' %}
{% set nfs_minion = 'bldressrv' %}
{% set nfs_host = 'bld-res-server' %}
{% set nfs_absdir = '/build_res' %}
{% set build_apt_date = 'Fri, 13 Apr 2018 20:09:17 +0000' %}
{% set build_rpm_date = 'Fri Apr 13 2018' %}
{% set build_py3 = False %}
