{% set branch_tag = '2018.3' %}
{% set build_dsig = 'nb201804132100229785440' %}
{% set build_local_minion = 'm7m' %}
{% set nfs_minion = 'bldressrv' %}
{% set nfs_host = 'nas01.c7.saltstack.net' %}
{% set nfs_absdir = '/volume3' %}
{% set web_nfsdir = '/build_res' %}
{% set build_apt_date = 'Fri, 13 Apr 2018 21:00:22 +0000' %}
{% set build_rpm_date = 'Fri Apr 13 2018' %}
{% set build_py3 = False %}
{% set build_cloud_hold = False %}
