{% set build_runas = pillar.get('build_runas', 'root') %}

# autobuild build_dsig (designation) is passed on command line
{% set build_dsig = pillar.get('build_dsig', 'nb197001010001') %}

# branch_tag is either branch 2017.7 or tag v2017.7.1
# if tag then assume specifc version
{% set branch_tag = pillar.get('branch_tag', 'develop') %}

# get build clean or with currently build dependencies, default not clean
{% set build_clean = pillar.get('build_clean', 0 ) %}

# get build cloud_hold, default remove cloud files
{% set build_cloud_hold = pillar.get('build_cloud_hold', false ) %}

{% set uniqueval = pillar.get('uniqueval', '') %}


### TBD THIS AREA IS TO BE REPLACED WITH VALUES FROM VAULT
### AND IS ONLY HERE AS A TEMPORARY STOP-GAP
{% set subnet_id = pillar.get('subnet_id', 'Subnet Id is missing') %}
{% set sec_group_id = pillar.get('sec_group_id', 'Security Group Id is missing') %}
{% set aws_access_priv_key_name = pillar.get('aws_access_priv_key_name', 'AWS Access key is missing') %}
{% set aws_access_pub_key_name_list = aws_access_priv_key_name .split(".") %}
{% set aws_access_pub_key_name = aws_access_pub_key_name_list[0] %}


{% set specific_user = pillar.get('specific_name_user', 'saltstack') %}


## NFS Mount values
{% set minion_nfsabsdir = pillar.get('nfs_absdir') %}
{% set minion_mount_nfsrootdir = pillar.get('mount_nfsdir') %}
{% set minion_mount_nfsbasedir = minion_mount_nfsrootdir ~ '/autobuild' %}


## generate build labels
{% set curr_dev_tag = '0' %}

## generate branch build versions
{% if branch_tag|first == 'v' %}
{% set build_specific_tag = true %}                                                 ## specific version v2017.7.1
{% set build_version_full_dotted = branch_tag|replace("v", "", 1) %}                ## 2017.7.1
{% set build_version = build_version_full_dotted|replace(".", "_") %}               ## 2017_7_1
{% else %}
{% set build_specific_tag = false %}                                                ## branch 2017.7
{% set build_version_full_dotted = branch_tag ~ '.' ~ curr_dev_tag %}               ## 2017.7
{% set build_version = branch_tag|replace(".", "_") %}                              ## 2017_7
{% endif %}

{% set build_version_full_uscore = build_version_full_dotted|replace(".", "_") %}   ## 2017_7_1
{% set build_version_list = build_version_full_dotted.split(".") %}                 ## generate list [ 2017, 7, 1 ]
{% set build_year = build_version_list[0] %}                                        ## 2017.7.1 -> 2017
{% set build_major_ver = build_version_list[1] %}                                   ## 2017.7.1 -> 11
{% set build_minor_ver = build_version_list[2] %}                                   ## 2017.7.1 -> 1

## produce dotted build version regardless of branch_tag
{% set build_version_dotted = build_version|replace("_", ".") %}    ## 2017.7 or 2017.7.1

{% set branch_checkout_tag = pillar.get('code_named_branch_tag', branch_tag) %}


## Get the home and gpg keys directories to use, some tools assume ~/.gnupg
{% if build_runas == 'root' %}
{% set build_homedir = '/' ~ build_runas %}
{% else %}
{% set build_homedir = '/home/' ~ build_runas %}
{% endif %}


## gpg key directory
{% set build_gpg_keydir = build_homedir ~ '/.gnupg' %}


## salt code directory
{% set build_salt_dir = build_homedir ~ '/salt_dir' %}
{% set build_salt_pypi_dir = build_homedir ~ '/pypi_dir' %}
{% set build_salt_pack_dir = build_homedir ~ '/salt_pack_dir' %}
{% set build_salt_reactor_file = '/srv/reactor/auto_pack_event.sls' %}
{% set build_salt_reactor_conf = '/etc/salt/master.d/reactor.conf' %}

